html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: auto;
    color: lightsteelblue;
    font-family: sans-serif;
}

/* cards */
@media screen {
    .card {
        border-radius: 2px;
        border: 1px solid;
        border-color: #555;
        box-shadow: 0 1px 5px #000;
        margin: 8px;
        position: relative;
        width: 250px;
        height: 250px;
        display: inline-block;
        vertical-align: top;
    }

    .card-header {
        background-color: #222;
        border-bottom: 1px solid #555;
        padding: 16px;
        font-size: 24px;
        line-height: 24px;
        margin: 0;
    }
    .card-menu {
        position: absolute;
        right: 16px;
        top: 16px;
        font-size: 24px;
    }

    .card-body {
        padding: 16px;
    }

    .card-actions {
        border-top: 1px solid rgba(0,0,0,.1);
        padding: 16px;
        overflow: auto;
    }
    .card-actions p {
        margin: 0;
    }
}
/* buttons */
@media screen {
    button.flat {
        padding: 8px;
        border: none;
        background: none;
        text-transform: uppercase;
        box-shadow: none;
        color: inherit;
    }
    button.flat:focus {
        background-color: #444;
        border-color: #555;
        box-shadow: none;
        outline: none;
    }
    button.flat:hover {
        background-color: #444;
        border-color: #555;
        box-shadow: none;
    }
    button.flat:active {
        background-color: #444;
        border-color: #555;
        box-shadow: none;
    }
}